{{!< default}}

{{> header }}

<div class="container">
  <div class="row">
    {{#foreach posts}}
      <div class="column small-12 medium-6 large-4">
        {{> post-card}}
      </div>
    {{/foreach}}
  </div>
</div>
